body{
    font-family: 'Nunito sans';
    max-width: 100%;
}
.header{
    background-color: transparent;
    margin-bottom: 0.5vw;
}
.logo-header{
    display: flex;
    flex-direction: row;
    position: relative;
    width:38%;
}
.logo-header-image{
    width: 55%;
    margin: 0;
    margin-top: 2vw;
    margin-left: 5vw;
}
.title-school{
    font-size: 2vw;
    font-family: 'preahvihear';
    min-width: 70%;
    margin-top: 3.5vw;
}
.call-head{
    font-weight: bold;
    font-family: sans-serif;
}
.call-container p{
    font-size: 1vw;
    color: white;
}
.address-container p{
    font-size: 1vw;
    color: white;
}
.call-icon{
    rotate: -45deg;
    color: rgb(226, 6, 6);
}
.address-icon{
    color: rgb(214, 9, 9);
}
.address-header-container{
    display: flex;
    margin-right: 4.5vw;
    justify-content: flex-end;
}
.address-head{
    font-weight: bold;
    color: #fff;
}
.head-logo-address{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.address-container{
    margin-left: 2vw;
    width: 30%;
}
.call-container{
    margin-left: 20px;
    font-size: 15px;
}
.header-line{
    background-color: white;
    height: 1.5px;
    width: 90%;
    border: 2% white;
    margin: 0;
}
.navbar-list-items a{
    text-decoration: none;
}
.navbar-list-items li{
    list-style-type: none;
    color: rgba(255, 245, 0, 1);
    margin-left: 5vw;
}
.navbar-list-items{
    display: flex;
    justify-content: flex-end;
    margin-right: 4vw;
}
.navbar-header{
    min-width: 100%;
    max-width: 100%;
    margin-right: 1.8vw;

}
.navbar-fixed {
    position: fixed;
    top: 0;
    z-index: 20;
}





.navbar-list-items li {
    font-size: 1.5vw;
    position: relative;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.navbar-list-items li:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  display: block;
  transition: all 0.7s ease;
  bottom: -10%;
}
.navbar-list-items li:hover::after {
  width: 100%;
  height: 3px;
  background-color: #b10505;
}

.programs-background-container{
    background-image: url('images/programs_background2.png');
    background-size: cover;
    position: relative;
    height: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.programs-heading{
    font-size: 2vw;
    text-align: center;
    color: white;
}
.programs-sub-head{
    font-size: 1.5vw;
    text-align: center;
    color: white;
}
.programs-sub-head2{
    color: rgba(255, 245, 0, 1);
}
.programs-heading-container{
    margin-top: 10vw;
    padding-bottom: 12vw;
}
.gallery-heading{
    color: rgba(235, 21, 81, 1);
    text-align: center;
    font-family: Preahvihear;
    font-size: 3vw;
}
.gallery-sub-para{
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
    text-align: center;
    font-size: 2vw;
}
.gallery-flex-container1{
    width: 100%;
    display: flex;
    margin-left: 4vw;
}
.gallery-left-container1{
    height: 15vw;
    background-color: rgba(217, 217, 217, 1);
    width: 100%;
    border-radius: 0.8vw;
    box-shadow: 5px 5px rgba(32, 123, 142, 1);
    margin: 1vw;
    margin-bottom: 2vw;
}
.gallery-left-container2{
    height: 15vw;
    background-color: rgba(217, 217, 217, 1);
    width: 100%;
    border-radius: 0.8vw;
    box-shadow: 5px 5px rgba(32, 123, 142, 1);
    margin: 1vw;
    margin-bottom: 2vw;
}
.gallery-left-container{
    width: 26.5%;
    margin: 1vw;
    margin-right: 3vw;
}
.gallery-middle-container{
    width: 30%;
    height: 31vw;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 0.8vw;
    box-shadow: 5px 5px rgba(32, 123, 142, 1);
    margin: 1vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}
.gallery-right-container{
    width: 26.5%;
    margin: 1vw;
}
.gallery-right-container1{
    height: 15vw;
    background-color: rgba(217, 217, 217, 1);
    width: 100%;
    border-radius: 0.8vw;
    box-shadow: 5px 5px rgba(32, 123, 142, 1);
    margin: 1vw;
    margin-bottom: 2vw;
}
.gallery-right-container2{
    height: 15vw;
    background-color: rgba(217, 217, 217, 1);
    width: 100%;
    border-radius: 0.8vw;
    box-shadow: 5px 5px rgba(32, 123, 142, 1);
    margin: 1vw;
    margin-bottom: 2vw;
}
.gallery-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0.8vw;
}
.gallery-flex-container2{
    display: flex;
    overflow-x: scroll;
    width: 95.5%;
}

.gallery-flex-container2::-webkit-scrollbar {
    display: none;
}
.gallery-flex-container2 {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
  

.gallery-left-bottom-container{
    height: 23vw;
    background-color: rgba(217, 217, 217, 1);
    min-width: 38%;
    border-radius: 0.8vw;
    box-shadow: 5px 5px rgba(32, 123, 142, 1);
    margin-left: 6vw;
    margin-bottom: 2vw;
}
.gallery-middle-bottom-container{
    height: 23vw;
    background-color: rgba(217, 217, 217, 1);
    min-width: 22.5%;
    border-radius: 0.8vw;
    box-shadow: 5px 5px rgba(32, 123, 142, 1);
    margin-left: 3vw;
    margin-bottom: 2vw;
}
.gallery-right-bottom-container{
    height: 23vw;
    background-color: rgba(217, 217, 217, 1);
    min-width: 22.5%;
    border-radius: 0.8vw;
    box-shadow: 5px 5px rgba(32, 123, 142, 1);
    margin-left: 3vw;
    margin-bottom: 2vw;
}





.lightbox {
    display: none;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(2, 2, 2, 0.842);
    align-items: center;
    justify-content: center;
}

.lightbox img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 8px;
}

.close-btn {
    position: absolute;
    top: 50px;
    right: 20px;
    color: #fff;
    font-size: 50px;
    cursor: pointer;
}









.videos-container{
    background:url(images/galleryvideosbackground.png);
    background-size: cover;
    padding-top: 10vw;
}
.main-video{
    border-radius: 2vw;
    margin: 2vw;
    object-fit: cover;
    width: 70%;
    height: 100%;
}
.main-video-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 23vw;
    position: relative;
}
.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 4.8vw;
    width: 5%;
    background: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-button svg {
    fill: rgba(236, 48, 100, 1);
}
.small-videos-main-container{
    margin-top: 4vw;
    display: flex;
    justify-content: space-between;
    margin-left: 5vw;
    margin-right: 5vw;
}
.small-video-container {
    height: 18vw;
    background-color: gray;
    width: 20%;
    border-radius: 100%;
    position: relative;
    border: 0.5vw solid rgba(254, 205, 62, 1);
}

.small-video-container:hover{
    .play-button-small{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.small-video-container2 {
    height: 18vw;
    background-color: gray;
    width: 20%;
    border-radius: 100%;
    position: relative;
    border: 0.5vw solid rgba(241, 138, 158, 1);
}

.small-video-container2:hover{
    .play-button-small{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.small-video-container3 {
    height: 18vw;
    background-color: gray;
    width: 20%;
    border-radius: 100%;
    position: relative;
    border: 0.5vw solid rgba(14, 179, 174, 1);
}

.small-video-container3:hover{
    .play-button-small{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.small-video-container4 {
    height: 18vw;
    background-color: gray;
    width: 20%;
    border-radius: 100%;
    position: relative;
    border: 0.5vw solid rgba(72, 177, 228, 1);
}

.small-video-container4:hover{
    .play-button-small{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.small-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.small-video2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.small-video3 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.small-video4 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.play-button-small {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 4vw;
    background: rgba(255, 255, 255, 0.842);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}

.play-button-small svg {
    fill: rgba(236, 48, 100, 1);
}






.gallery-sun{
    height: 7vw;
    top: 10%;
    position: absolute;
    margin-left: 2vw;
}
.gallery-monckey{
    height: 10vw;
    position: absolute;
    right: 0;
    top: 0;
}
.gallery-leaf{
    height: 7vw;
    position: absolute;
    top: 50%;
}
.gallery-blueleaf{
    height: 7vw;
    position: absolute;
    right: 0;
    bottom: 50%;
}
.gallery-plant{
    height: 7vw;
    position: absolute;
    bottom: 0;
}
.gallery-animal{
    height: 7vw;
    position: absolute;
    bottom: 0;
    right: 0;
}




.footer-section-position{
    padding-top: 6vw;
    background:url("images/footerbackground.png");
    background-size: cover;
    position: relative;
}
.footer-section{
    position: relative;
    overflow-x: hidden;
    height: max-content;
}
.footer-copyright{
    color: white;
    text-align: center;
    font-size: 1.5vw;
}
.telegram-image{
    height: 5vw;
    position: absolute;
    top: 4%;
    left: 0;
}
.cloud1-image{
    height: 5vw;
    left: 20%;
    top: 17%;
    position: absolute;
}
.sun-image{
    height: 5vw;
    position: absolute;
    left: 60%;
    top: 10%;
    z-index: 8;
}
.rocket-image{
    height: 8vw;
    position: absolute;
    right: 0%;
    top: 30%;
}
.cloud2-image{
    height: 5vw;
    position: absolute;
    right: -5%;
}
.footer-logo-image{
    height: 10vw;
}
.footer-section2{
    margin-top: 13vw;
    display: flex;
    justify-content: space-around;
}
.footer-section2 h1{
    color: #b10505;
    font-size: 2vw;
}
.footer-logo{
    width: 23%;
    position: relative;
    z-index: 3;
}
.footer-logo p{
    font-size: 1.6vw;
    color: #ffffff;
}
.footer-pages{
    width: 23%;
    position: relative;
    z-index: 3;
}
.footer-pages p{
    font-size: 1.4vw;
    color: #ffffff;
    margin: 0;
    line-height: 2.5vw;
}
.footer-pages a{
    text-decoration: none;
}
.footer-pages-2{
    width: 23%;
    position: relative;
    z-index: 3;
}
.footer-pages-2 p{
    font-size: 1.4vw;
    color: #ffffff;
    margin: 0;
    line-height: 2.5vw;
}
.footer-contact-us{
    width: 23%;
    z-index: 3;
    position: relative;
}
.footer-contact-us p{
    font-size: 1.4vw;
    color: #ffffff;
    
}


.social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    margin-left: 2vw;
    justify-content: center;
}
.fa-facebook{
    font-size: 2.2vw;
    color: #1877f2;
    background-color: white;
    padding: 1vw;
    border-radius: 50%;
}
.fa-twitter{
    font-size: 2.2vw;
    color: #1da1f2;
}
.fa-instagram{
    font-size: 2.2vw;
    color: #e4405f;
    background-color: white;
    padding: 1vw;
    padding-left: 1.1vw;
    padding-right: 1.1vw;
    border-radius: 50%;
}
.twitter{
    height: 2vw;
    background-color: white;
    padding: 1vw;
    border-radius: 50%;
}
.social-icons li {
    margin-right: 1vw;
}
.social-icons a {
    text-decoration: none;
    color: #333;
}
.facebook-icon {
    color: #1877f2;
}
.twitter-icon {
    color: #1da1f2;
}
.instagram-icon {
    color: #e4405f;
}


.footer-section-each{
    width: 30%;
}
.footer-hr-dotted{
    border:0.1vw dashed;
    color: #fff;
}
.footer-child-images{
    height: 10vw;
    margin-left: 2.5vw;
}
.footer-section3{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.pencil-image{
    height: 3vw;
}
.scale-image{
    height: 3vw;
    right: 0;
}
.flex-pencil-scale{
    display: flex;
    justify-content: space-between;
}


.footer-squre1{
    height: 15vw;
    background-color: #ffffff;
    width: 30vw;
    border-radius: 50%;
    position: absolute;
    top: -23%;
    left: -3%;
}
.footer-squre2 {
    height: 15vw;
    background-color: rgba(32, 123, 142, 1);
    width: 40vw;
    border-radius: 50%;
    position: absolute;
    left: 24.5%;
    top: -8.9%;
    z-index: 7;
}
.footer-squre3{
    height: 15vw;
    background-color: #ffffff;
    width: 30vw;
    border-radius: 50%;
    position: absolute;
    top: -25%;
    right: 7%;
}
.footer-squre4{
    height: 4vw;
    background-color: rgba(32, 123, 142, 1);
    width: 10vw;
    border-radius: 50%;
    position: absolute;
    top: -1%;
    right:0.8%;
}


