body{
    font-family: 'Nunito sans';
    max-width: 100%;
}
.header{
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
}
.logo-header{
    display: flex;
    position: relative;
}
.logo-header-image{
    border-radius: 100%;
    width: 20%;
}
.title-school{
    font-size: 2vw;
    font-family: 'preahvihear';
    position: absolute;
    left: 23%;
    top: 20%;
}
.call-head{
    font-weight: bold;
    font-family: sans-serif;
}
.call-container p{
    font-size: 1vw;
}
.address-container p{
    font-size: 1vw;
}
.call-icon{
    rotate: -45deg;
    color: rgb(226, 6, 6);
}
.address-icon{
    color: rgb(214, 9, 9);
}
.address-header-container{
    display: flex;
    margin-right: 1vw;
}
.address-head{
    font-weight: bold;
}
.head-logo-address{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.address-container{
    margin-left: 2vw;
    width: 30%;
}
.call-container{
    margin-left: 20px;
    font-size: 15px;
}
.header-line{
    background-color: brown;
    height: 1.5px;
    width: 90%;
}
.navbar-list-items a{
    text-decoration: none;
}
.navbar-list-items li{
    list-style-type: none;
    color: black;
    font-weight: bold;
    margin-left: 5vw;
}
.navbar-list-items{
    display: flex;
    justify-content: flex-end;
}
.navbar-header{
    min-width: 100%;
    max-width: 100%;
    padding-right: 4vw;
    right: 0;
    position: absolute;
    z-index: 100;
    background-color: #fff;
}
.navbar-fixed {
    position: fixed;
    top: 0;
}
.space{
    height: 80px;
}





.navbar-list-items li {
    font-size: 1.5vw;
    position: relative;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.navbar-list-items li:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  display: block;
  transition: all 0.7s ease;
  bottom: -10%;
}
.navbar-list-items li:hover::after {
  width: 100%;
  height: 3px;
  background-color: #b10505;
}
.span-homepage{
    color: #ff0000;
}
.heading-homepage{
    font-size: 2vw;
    font-weight: 650;
}
.content-home-page-container{
    max-width: 40%;
}
.home-page-image-side{
    max-width: 55%;
}
.content-main-page{
    font-size: 1.3vw;
}
.main-circle-container{
    background-color: rgba(255,277,179,1);
    border-radius: 100%;
    min-height: 30vw;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
    z-index: 10;
}
.child-image-main-image{
    max-width: 100%;
    position: relative;
    z-index: 5;
}
.image-zoom {
    transform: scale(1);
    transition: transform 0.3s;
}

.image-zoom:hover {
    transform: scale(1.1);
}
.content-image-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    z-index: 33;
}
.child-image-main-image {
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
.circle-yellow{
    background-color: rgba(253, 200, 48, 1);
    height: 10%;
    width: 8%;
    border-radius: 100%;
    position: absolute;
    top: 10%;
    left: 10%;
}
.circle-red{
    background-color: rgba(243, 115, 53, 1);
    height: 15%;
    width: 10%;
    position: absolute;
    top: 0;
    border-radius: 100%;
    right: 20%;
}
.circle-linear{
    background: linear-gradient(to bottom, rgba(252, 195, 48, 1),rgba(244, 125, 52, 1));
    height: 15%;
    width: 10%;
    position: absolute;
    top: 60%;
    left: 0;
    border-radius: 100%;
}









.section2{
    background-color: rgba(146, 208, 196, 1);
    height: max-content;
    position: relative;
    padding: 3vw;

}
.square-design1{
    height: 50%;
    width: 40%;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute;
    top: -40%;
    left: -3%;
}
.square-design{
    background-color: rgb(255, 255, 255);
    width: 50px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    top: -15%;
    left: 32%;
    z-index: 100;
}
.square-design2{
    height: 80%;
    width: 60%;
    background-color: rgba(146, 208, 196, 1);
    border-radius: 200%;
    position: absolute;
    top: -12.5%;
    left: 25%;
    z-index: 9;
}


.section2-part1{
    width: 50%;
}
.section2-part2{
    width: 50%;
    position: relative;
    z-index: 33;
}
.about-content {
    transform: translateX(-100%);
    animation: slideIn 2s ease-in-out forwards;
}
@keyframes slideIn {
    to {
        transform: translateX(0);
    }
}
.section2-flex-container{
    display: flex;
}
.about-head{
    color: rgba(235, 21, 81, 1);
    font-size: 3vw;
    font-family: 'preahvihear';
}
.about-content{
    font-size: 1.5vw;
}
.about-circle-shape{
    background-color: #ffffff;
    height: 20vw;
    width: 49%;
    border-top-left-radius: 180%;
    border-top-right-radius: 180%;
    border-bottom-right-radius: 80%;
    border-bottom-left-radius: 80%;
    z-index: 9;
}
.about-circle-side{
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 2vw;
    position: relative;
}
.about-shape-image{
    height: 100%;
    width: 100%;
    border-top-left-radius: 180%;
    border-top-right-radius: 180%;
    border-bottom-right-radius: 80%;
    border-bottom-left-radius: 80%;
}
.about-yellow-shape{
    height: 10vw;
    width: 30%;
    background-color: rgba(247, 148, 30, 1);
    border-radius: 100%;
    position: absolute;
    top: 10%;
    rotate: -20deg;
}
.about-blue-shape{
    height: 8vw;
    width: 20%;
    background-color: rgba(10, 99, 117, 1);
    border-top-right-radius: 80%;
    border-top-left-radius: 150%;
    border-bottom-left-radius: 150%;
    border-bottom-right-radius: 150%;
    position: absolute;
    left: -2%;
    bottom: 10%;
}
.about-shape-image2{
    width: 30%;
    border-radius: 500%;
    position: absolute;
    left: 30%;
    z-index: 10;
    bottom: 0;
}




.programs-head{
    text-align: center;
    color:rgba(235, 21, 81, 1);
    font-size: 2vw;
}
.programs-content{
    font-size: 2vw;
    text-align: center;
}




.design-image{
    max-width: 100%;
}
.design-and-image{
    position: relative;
}
.design-and-image-container{
    max-width: 30%;
    margin: 0.7vw;
}
.image1{
    width: 55%;
    position: absolute;
    top:15%;
    left: 15%;
}
.content-image{
    position: absolute;
    right: 4%;
    bottom: 8%;
    font-size: 1.3vw;
    color: white;
}
.flex-programs-container{
    display: flex;
}
.programs-content-main{
    border: dashed;
    font-size: 1.5vw;
    padding: 0.5vw;
}


.admission-section{
    background-color: rgba(247, 189, 188, 1);
    position: relative;
}
.admission-head{
    text-align: center;
    color: rgba(235, 21, 81, 1);
    font-family: 'preahvihear';
    font-size: 2.5vw;
}
.pink-circle1{
    background-color: rgba(247, 189, 188, 1);
    height: 20px;
    width: 6%;
    border-radius: 50%;
    position: absolute;
    bottom: -13%;
    z-index: -4;
}
.pink-circle2{
    background-color: rgba(247, 189, 188, 1);
    height: 20px;
    width: 6%;
    border-radius: 50%;
    position: absolute;
    bottom: -13%;
    left: 6%;
    z-index: -4;
}
.pink-circle3{
    background-color: rgba(247, 189, 188, 1);
    height: 20px;
    width: 6%;
    border-radius: 50%;
    position: absolute;
    bottom: -13%;
    left: 12%;
    z-index: -4;
}
.pink-circle4{
    background-color: rgba(247, 189, 188, 1);
    height: 20px;
    width: 6%;
    border-radius: 50%;
    position: absolute;
    bottom: -13%;
    left: 18%;
    z-index: -4;
}
.pink-circle5{
    background-color: rgba(247, 189, 188, 1);
    height: 20px;
    width: 6%;
    border-radius: 50%;
    position: absolute;
    bottom: -13%;
    left: 24%;
    z-index: -4;
}
.pink-circle6{
    background-color: rgba(247, 189, 188, 1);
    height: 25px;
    width: 6%;
    border-radius: 50%;
    position: absolute;
    bottom: -13%;
    left: 30%;
    z-index: -4;
}
.pink-circle7{
    background-color: rgba(247, 189, 188, 1);
    height: 25px;
    width: 6%;
    border-radius: 50%;
    position: absolute;
    bottom: -13%;
    left: 36%;
    z-index: -4;
}
.pink-circle8{
    background-color: rgba(247, 189, 188, 1);
    height: 25px;
    width: 6%;
    border-radius: 50%;
    position: absolute;
    bottom: -13%;
    left: 42%;
    z-index: -4;
}
.pink-circle9{
    background-color: rgba(247, 189, 188, 1);
    height: 25px;
    width: 6%;
    border-radius: 50%;
    position: absolute;
    bottom: -13%;
    left: 48%;
    z-index: -4;
}
.pink-circle10{
    background-color: rgba(247, 189, 188, 1);
    height: 25px;
    width: 6%;
    border-radius: 50%;
    position: absolute;
    bottom: -13%;
    left: 54%;
    z-index: -4;
}
.pink-circle11{
    background-color: rgba(247, 189, 188, 1);
    height: 25px;
    width: 6%;
    border-radius: 50%;
    position: absolute;
    bottom: -13%;
    left: 60%;
    z-index: -4;
}
.pink-circle12{
    background-color: rgba(247, 189, 188, 1);
    height: 25px;
    width: 6%;
    border-radius: 50%;
    position: absolute;
    bottom: -13%;
    left: 66%;
    z-index: -4;
}
.pink-circle13{
    background-color: rgba(247, 189, 188, 1);
    height: 25px;
    width: 6%;
    border-radius: 50%;
    position: absolute;
    bottom: -13%;
    left: 72%;
    z-index: -4;
}
.pink-circle14{
    background-color: rgba(247, 189, 188, 1);
    height: 25px;
    width: 6%;
    border-radius: 50%;
    position: absolute;
    bottom: -13%;
    left: 78%;
    z-index: -4;
}
.pink-circle15{
    background-color: rgba(247, 189, 188, 1);
    height: 25px;
    width: 6%;
    border-radius: 50%;
    position: absolute;
    bottom: -13%;
    left: 84%;
    z-index: -4;
}
.pink-circle16{
    background-color: rgba(247, 189, 188, 1);
    height: 25px;
    width: 6%;
    border-radius: 50%;
    position: absolute;
    bottom: -13%;
    left: 90%;
    z-index: -4;
}
.pink-circle17{
    background-color: rgba(247, 189, 188, 1);
    height: 25px;
    width: 4%;
    border-radius: 50%;
    position: absolute;
    bottom: -13%;
    left: 96%;
    z-index: -4;
}

.gallery-section{
    min-height:max-content;
}
.gallery-head{
    text-align: center;
    color: rgba(235, 21, 81, 1);
    font-family: 'preahvihear';
    font-size: 2.5vw;
}
.content-gallery{
    color: black;
    text-align: center;
    font-size: 2vw;
}

.gal-image1-container{
    width: 22%;
    background-color: #ffffff;
    height: 50%;
    margin: 1vw;
}
.gal-image1-container img{
    width: 100%;
    height: 100%;
    height: 20vw;
    object-fit: cover;
    border-radius: 20px;
}
.gal-image2-container{
    width: 22%;
    background-color: #ffffff;
    margin-top: 3vw;
    height: 50%;
}
.gal-image2-container img{
    width: 100%;
    height: 20vw;
    object-fit: cover;
    border-radius: 20px;
}
.gallery-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-section{
    background-color: #154924;
    padding: 3vw;
}
.footer-copyright{
    color: white;
    text-align: center;
    font-size: 1.5vw;
}
