body{
    font-family:Verdana, Geneva, Tahoma !important;
    max-width: 100%;
}
.header{
    background-color: transparent;
    margin-bottom: 0.5vw;
}
.logo-header{
    display: flex;
    flex-direction: row;
    position: relative;
    width:38%;
}
.logo-header-image{
    width: 55%;
    margin: 0;
    margin-top: 2vw;
    margin-left: 4vw;
}
.title-school{
    font-size: 2vw;
    font-family: 'preahvihear';
    min-width: 70%;
    margin-top: 3.7vw;
}
.call-head{
    font-weight: bold;
    font-family: sans-serif;
}
.call-container p{
    font-size: 1vw;
    color: white;
}
.address-container p{
    font-size: 1vw;
    color: white;
}
.call-icon{
    rotate: -45deg;
    color: rgb(226, 6, 6);
}
.address-icon{
    color: rgb(214, 9, 9);
}
.address-header-container{
    display: flex;
    margin-right: 4.5vw;
    justify-content: flex-end;
}
.address-head{
    font-weight: bold;
    color: #fff;
}
.head-logo-address{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.address-container{
    margin-left: 2vw;
    width: 30%;
}
.call-container{
    margin-left: 20px;
    font-size: 15px;
}
.header-line{
    background-color: white;
    height: 1.5px;
    width: 90%;
    border: 2% white;
    margin: 0;
}
.navbar-list-items a{
    text-decoration: none;
}
.navbar-list-items li{
    list-style-type: none;
    color: rgba(255, 245, 0, 1);
    margin-left: 5vw;
}
.navbar-list-items{
    display: flex;
    justify-content: flex-end;
    margin-right: 4vw;
}
.navbar-header{
    min-width: 100%;
    max-width: 100%;
    margin-right: 1.8vw;

}
.navbar-fixed {
    position: fixed;
    top: 0;
    z-index: 20;
}





.navbar-list-items li {
    font-size: 1.5vw;
    position: relative;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.navbar-list-items li:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  display: block;
  transition: all 0.7s ease;
  bottom: -10%;
}
.navbar-list-items li:hover::after {
  width: 100%;
  height: 3px;
  background-color: #b10505;
}

.programs-background-container{
    background-image: url('images/programs_background2.png');
    background-size: cover;
    position: relative;
    height: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.programs-heading{
    font-size: 2vw;
    text-align: center;
    color: white;
}
.programs-sub-head{
    font-size: 1.5vw;
    text-align: center;
    color: white;
}
.programs-sub-head2{
    color: rgba(255, 245, 0, 1);
}
.programs-heading-container{
    margin-top: 10vw;
    padding-bottom: 12vw;
}




.letters-image-container{
    display: flex;
    justify-content: center;
    margin-bottom: 3vw;
}
.letters-image{
    height: 5vw;
}

.our-programs-container{
    width: 45%;
    margin-left: 4vw;
}
.our-programs-container h1{
    font-size: 3vw;
    font-weight: bold;
    color: rgb(6, 6, 70);
}
.our-programs-container p{
    font-size: 1.5vw;
}

.our-programs-line{
    background-color:#e4405f;
    border: none;
    height: 1vw;
}
.our-programs-image{
    height:40vw;
    width: 40vw;
    background-color: #b10505;
    margin-right: 4vw;
}
.our-programs-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    color: white;
}
.our-programs-main-container{
    display: flex;
    justify-content: space-between;
}
.pre-school-programs-heading{
    font-size: 2vw;
    text-align: center;
}
.programs-anchor-elements h1, a{
    font-size: 2vw;
    text-decoration: none;
    background-color: #b10505;
    color: white;
    padding: 1vw;
    font-family: cursive;
}
.programs-anchor-elements{
    display: flex;
    justify-content: space-between;
    margin-left: 4vw;
    margin-right: 4vw;
}
.programs-anchor-elements h1 {
    transition: color 0.8s ease, background-color 0.8s ease; /* Adding transition for color change */
}

.programs-anchor-elements h1:hover {
    color: rgb(250, 250, 250);
    background-color: rgb(5, 5, 71);
}

.pre-nursery-container{
    margin-left: 4vw;
}
.pre-nursery-heading{
    margin-top: 3vw;
    font-size: 2vw;
    color: orange;
    font-weight: bold;
    text-decoration: overline;
}
.pre-nursery-content-container{
    width: 40%;
    background-color: #e4405ec2;
    padding: 1vw;
}
.pre-nursery-content-container p{
    font-size: 1.3vw;
    line-height: 2.5vw;
    color: white;
}
.pre-nursery-image-container{
    width: 55%;
    height: 27.2vw;
}
.pre-nursery-image-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    animation: scaleAndFade 1.5s ease-in-out;
}
.pre-nursery-main-container{
    display: flex;
}


.nursery-container{
    margin-left: 4vw;
}
.nursery-heading{
    margin-top: 5vw;
    font-size: 2vw;
    color: orange;
    font-weight: bold;
    text-decoration: overline;
}
.nursery-image-container{
    width: 40%;
    height: 35.5vw;
}
.nursery-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    animation: scaleAndFade 1.5s ease-in-out;
}

.nursery-main-container{
    display: flex;
}
.nursery-content-container{
    width: 55%;
    background-color: #B3A492;
}
.nursery-content-container p{
    font-size: 1.3vw;
    line-height: 2.5vw;
    color: white;
    padding: 1vw;
}
.nursery-key-areas{
    font-size: 1.5vw;
    text-align: center;
    color: red;
    text-decoration: line-through;
}
.nursery-key-areas-container p{
    font-size: 1.5vw;
    width: 30%;
    color: #fff;
}
.nursery-key-areas-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.308);
    padding: 2vw;
}
.nursery-key-events-background{
    background-image: url("images/nursery-key-events-image2.jpg");
    background-size: cover;
    width: 95%;
    padding-top: 1vw;
}

.kindergarten-heading{
    margin-top: 5vw;
    font-size: 2vw;
    color: orange;
    font-weight: bold;
    text-decoration: overline;
}
.kindergarten-container{
    margin-left:  4vw;
}
.kindergarten-content-container{
    width: 50%;
    background-color: #a39fa0dc;
    padding: 1vw;
}
.kindergarten-content-container p{
    font-size: 1.3vw;
    line-height: 2.5vw;
    color: white;
}
.kindergarten-image-container{
    width: 45%;
}
.kindergarten-image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: scaleAndFade 1.5s ease-in-out;
}
@keyframes scaleAndFade {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
.kindergarten-main-container{
    display: flex;
}

.new {
    width: 50%;
    background-color: #7c7e34dc;
    padding: 1vw;
}



.child-care-points-container{
    height: 25vw;
    width: 27%;
    background-color: #b10505;
    border-radius: 1vw;
    margin-right: 2vw;
    flex-shrink: 0;
    position: relative;
}
.child-care-points-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.child-care-points-container:hover{
    .programs-over-lay{
        background-color: #3333337c;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 10;
    }
    .child-care-points-heading-container{
        display: block;
        top: 10%;
    }
    .child-care-points-paragraph{
        display: none;
    }
}
.child-care-points-heading{
    font-size: 1vw;
    color: white;
    width: 100%;
    text-align: center;
}
.child-care-points-heading-container{
    position: absolute;
    bottom: 10%;
    z-index: 20;
    display: none;
    transition: transform 2s ease-in-out;
}




.child-care-points-paragraph{
    font-size: 1.5vw;
    position: absolute;
    bottom: 0;
    background-color: #ffffff;
    width: 100%;
    text-align: center;
}


.child-care-programs-container{
    display: flex;
    overflow-x: scroll;
    margin-left: 4vw;
    margin-top: 2.5vw;
    margin-right: 4vw;
}
.child-care-programs-container::-webkit-scrollbar {
    display: none;
  }






.footer-section-position{
    padding-top: 6vw;
    background:url("images/footerbackground.png");
    background-size: cover;
    position: relative;
}
.footer-section{
    position: relative;
    overflow-x: hidden;
    height: max-content;
}
.footer-copyright{
    color: white;
    text-align: center;
    font-size: 1.5vw;
}
.telegram-image{
    height: 5vw;
    position: absolute;
    top: 4%;
    left: 0;
}
.cloud1-image{
    height: 5vw;
    left: 20%;
    top: 17%;
    position: absolute;
}
.sun-image{
    height: 5vw;
    position: absolute;
    left: 60%;
    top: 10%;
    z-index: 8;
}
.rocket-image{
    height: 8vw;
    position: absolute;
    right: 0%;
    top: 30%;
}
.cloud2-image{
    height: 5vw;
    position: absolute;
    right: -5%;
}
.footer-logo-image{
    height: 10vw;
}
.footer-section2{
    margin-top: 13vw;
    display: flex;
    justify-content: space-around;
}
.footer-section2 h1{
    color: #b10505;
    font-size: 2vw;
}
.footer-logo{
    width: 23%;
    position: relative;
    z-index: 3;
}
.footer-logo p{
    font-size: 1.6vw;
    color: #ffffff;
}
.footer-pages{
    width: 23%;
    position: relative;
    z-index: 3;
}
.footer-pages p{
    font-size: 1.4vw;
    color: #ffffff;
    margin: 0;
    line-height: 2.5vw;
}
.footer-pages-2{
    width: 23%;
    position: relative;
    z-index: 3;
}
.footer-pages-2 p{
    font-size: 1.4vw;
    color: #ffffff;
    margin: 0;
    line-height: 2.5vw;
}
.footer-contact-us{
    width: 23%;
    z-index: 3;
    position: relative;
}
.footer-contact-us p{
    font-size: 1.4vw;
    color: #ffffff;
    
}


.social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    margin-left: 2vw;
    justify-content: center;
}
.fa-facebook{
    font-size: 2.2vw;
    color: #1877f2;
    background-color: white;
    padding: 1vw;
    border-radius: 50%;
}
.fa-twitter{
    font-size: 2.2vw;
    color: #1da1f2;
}
.fa-instagram{
    font-size: 2.2vw;
    color: #e4405f;
    background-color: white;
    padding: 1vw;
    padding-left: 1.1vw;
    padding-right: 1.1vw;
    border-radius: 50%;
}
.twitter{
    height: 4vw;
    background-color: white;
    padding: 1vw;
    border-radius: 50%;
}
.social-icons li {
    margin-right: 1vw;
}
.social-icons a {
    text-decoration: none;
    color: #333;
}
.facebook-icon {
    color: #1877f2;
}
.twitter-icon {
    color: #1da1f2;
}
.instagram-icon {
    color: #e4405f;
}


.footer-section-each{
    width: 30%;
}
.footer-hr-dotted{
    border:0.1vw dashed;
    color: #fff;
}
.footer-child-images{
    height: 10vw;
    margin-left: 2.5vw;
}
.footer-section3{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.pencil-image{
    height: 3vw;
}
.scale-image{
    height: 3vw;
    right: 0;
}
.flex-pencil-scale{
    display: flex;
    justify-content: space-between;
}


.footer-squre1{
    height: 15vw;
    background-color: #ffffff;
    width: 30vw;
    border-radius: 50%;
    position: absolute;
    top: -23%;
    left: -3%;
}
.footer-squre2 {
    height: 15vw;
    background-color: rgba(32, 123, 142, 1);
    width: 40vw;
    border-radius: 50%;
    position: absolute;
    left: 24.5%;
    top: -8.9%;
    z-index: 7;
}
.footer-squre3{
    height: 15vw;
    background-color: #ffffff;
    width: 30vw;
    border-radius: 50%;
    position: absolute;
    top: -25%;
    right: 7%;
}
.footer-squre4{
    height: 4vw;
    background-color: rgba(32, 123, 142, 1);
    width: 10vw;
    border-radius: 50%;
    position: absolute;
    top: -1%;
    right:0.8%;
}
