body{
    font-family:Nunito Sans;
    max-width: 100%;
}
.header{
    background-color: transparent;
    margin-bottom: 0.5vw;
}
.logo-header{
    display: flex;
    flex-direction: row;
    position: relative;
    width:38%;
}
.logo-header-image{
    width: 55%;
    margin: 0;
    margin-top: 2vw; 
    margin-left: 4vw;
}
.title-school{
    font-size: 2vw;
    font-family: 'preahvihear';
    min-width: 70%;
    margin-top: 3.7vw;
    color: red;
}
.call-head{
    font-weight: bold;
    font-family: sans-serif;
}
.call-container p{
    font-size: 1vw;
    color: white;
}
.address-container p{
    font-size: 1vw;
    color: white;
}
.call-icon{
    rotate: -45deg;
    color: rgb(226, 6, 6);
}
.address-icon{
    color: rgb(214, 9, 9);
}
.address-header-container{
    display: flex;
    margin-right: 4.5vw;
    justify-content: flex-end;
}
.address-head{
    font-weight: bold;
    color: #fff;
}
.head-logo-address{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.address-container{
    margin-left: 2vw;
    width: 30%;
}
.call-container{
    margin-left: 20px;
    font-size: 15px;
}
.header-line{
    background-color: white;
    height: 1.5px;
    width: 90%;
    border: 2% white;
    margin: 0;
}
.navbar-list-items a{
    text-decoration: none;
}
.navbar-list-items li{
    list-style-type: none;
    color: rgba(255, 245, 0, 1);
    margin-left: 5vw;
}
.navbar-list-items{
    display: flex;
    justify-content: flex-end;
    margin-right: 4vw;
}
.navbar-header{
    min-width: 100%;
    max-width: 100%;
    background-color: #0a03039d;
}
.navbar-fixed {
    position: fixed;
    top: 0;
    z-index: 20;
}





.navbar-list-items li {
    font-size: 1.5vw;
    position: relative;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.navbar-list-items li:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  display: block;
  transition: all 0.7s ease;
  bottom: -10%;
}
.navbar-list-items li:hover::after {
  width: 100%;
  height: 3px;
  background-color: #b10505;
}

.programs-background-container{
    background-image: url('images/programs_background2.png');
    background-size: cover;
    position: relative;
    height: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.programs-heading{
    font-size: 2vw;
    text-align: center;
    color: white;
}
.programs-sub-head{
    font-size: 1.5vw;
    text-align: center;
    color: white;
}
.programs-sub-head2{
    color: rgba(255, 245, 0, 1);
}
.programs-heading-container{
    margin-top: 10vw;
    padding-bottom: 12vw;
}

.our-programs-heading{
    color: rgba(235, 21, 81, 1);
    font-size: 2vw;
    text-align: center;
    font-family: 'Preahvihear';
}
.our-programs-content-container{
    width: 45%;
    margin-left: 4vw;
}
.our-programs-content-container p{
    font-size: 1.3vw;
    line-height: 2.5vw;
}
.our-programs-foursection-container{
    background-color: rgba(250, 244, 234, 1);
    height: 26vw;
}
.our-programs-each-section-container{
    width: 22%;
    height: 19vw;
    margin-left: 3vw;
    border-radius: 2vw;
    position: relative;
    
}
.our-programs-each-image-container{
    width: 97%;
    height: 97%;
    background-color: rgba(250, 244, 234, 1);
    position: relative;
    border-radius: 1vw;
    top: 8%;
    left: -8%;
}

.our-programs-each-image-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.our-programs-image-container{
    width: 45%;
}
.our-programs-image-container img{
    width: 90%;
}
.our-programs-content-image-container{
    display: flex;
    margin-bottom: 2vw;
    justify-content: center;
}
.our-section-pink-container{
    background-color: rgba(223, 87, 168, 1);
    height: 6vw;
    width: 60%;
    border-top-left-radius: 200%;
    border-top-right-radius: 200%;
    position: absolute;
    bottom: 3%;
    left: 20%;
}

.our-section-yellow-container{
    background-color: rgba(250, 175, 17, 1);
    height: 6vw;
    width: 60%;
    border-top-left-radius: 200%;
    border-top-right-radius: 200%;
    position: absolute;
    bottom: 0%;
    left: 20%;
}
.our-section-pink-container p{
    color: white;
    font-size: 1vw;
    margin-top: 2vw;
    margin-left: 3.5vw;
}
.our-section-yellow-container p{
    color: white;
    font-size: 1vw;
    margin-top: 2vw;
    margin-left: 3.7vw;
}

.our-section-blue-container{
    background-color: rgba(81, 201, 238, 1);
    height: 6vw;
    width: 60%;
    border-top-left-radius: 200%;
    border-top-right-radius: 200%;
    position: absolute;
    bottom: 3%;
    left: 20%;
}
.our-section-blue-container p{
    color: white;
    font-size: 1vw;
    margin-top: 2vw;
    margin-left: 3.5vw;
}

.our-section-red-container{
    background-color: rgba(243, 44, 44, 1);
    height: 6vw;
    width: 60%;
    border-top-left-radius: 200%;
    border-top-right-radius: 200%;
    position: absolute;
    bottom: 3%;
    left: 20%;
}
.our-section-red-container p{
    color: white;
    font-size: 1vw;
    margin-top: 2vw;
    margin-left: 3.5vw;
}

.our-programs-foursection-container{
    display: flex;
    justify-content: center;
}
.view-more-anchor{
    color: white;
    background: linear-gradient(to right,rgba(135, 207, 58, 1),rgba(45, 204, 128, 1));
    text-decoration: none;
    width: 50%;
    font-size: 1.2vw;
    border-radius: 0.5vw;
    position: absolute;
    text-align: center;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -25%;
    left: 15%;
    z-index: 10;
}
.play-group-heading{
    text-align: center;
    font-family: Preahvihear;
    font-size: 2vw;
    color: rgba(235, 21, 81, 1);
}
.play-group-program-image-container{
    width: 50%;
}
.play-group-content-image-container{
    display: flex;
}
.play-group-program-content-container{
    width: 50%;
}
.play-group-program-content-container h1{
    font-size: 2vw;
}
.play-group-program-content-container p{
    font-size: 1.3vw;
}
.play-group-program-content-container h2{
    font-size: 1.5vw;
    font-weight: bold;
    font-style: italic;
}
.play-group-key-focus{
    text-align: center;
    font-family: Preahvihear;
    font-size: 2vw;
    color: rgba(235, 21, 81, 1);
}
.key-focus-container1{
    height: 20vw;
    width: 30%;
    background-color: rgba(212, 249, 255, 1);
    border-radius: 1vw;
    margin-right: 2vw;
    margin-bottom: 2vw;
}
.key-focus-container2{
    height: 20vw;
    width: 30%;
    background-color: rgba(255, 244, 215, 1);
    border-radius: 1vw;
    margin-right: 2vw;
    margin-bottom: 2vw;
}
.key-focus-container3{
    height: 20vw;
    width: 30%;
    background-color: rgba(215, 209, 249, 1);
    border-radius: 1vw;
    margin-right: 2vw;
    margin-bottom: 2vw;
}
.key-focus-container4{
    height: 20vw;
    width: 30%;
    background-color: rgba(253, 213, 213, 1);
    border-radius: 1vw;
    margin-right: 2vw;
    margin-bottom: 2vw;
}
.key-focus-container5{
    height: 20vw;
    width: 30%;
    background-color: rgba(245, 241, 234, 1);
    border-radius: 1vw;
    margin-right: 2vw;
    margin-bottom: 2vw;
}
.key-focus-containers{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.key-focus-content h1{
    font-size: 1.5vw;
    color: rgba(235, 21, 81, 1);
    height: 15%;
}
.key-focus-content p{
    font-size: 1.3vw;
    height: 45%;
}
.key-focus-button button{
    background: linear-gradient(to right,rgba(135, 207, 58, 1),rgba(45, 204, 128, 1));
    border: none;
    color: white;
    border-radius: 0.5vw;
    font-size: 1.5vw;
    margin-right: 1vw;
}
.key-focus-button{
    display: flex;
    justify-content: end;
}
.key-focus-content{
    padding: 1vw;
}
.nursery-main-heading{
    font-size: 2vw;
    color: rgba(235, 21, 81, 1);
    font-family: Preahvihear;
    text-align: center;
}
.nursery-content-container{
    width: 40%;
    margin-left: 3vw;
}
.nursery-image-container{
    width: 40%;
}
.nursery-image-container img{
    width: 100%;
}
.nursery-contet-image-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nursery-content-container h1{
    font-size: 2vw;
}
.nursery-content-container p{
    font-size: 1.3vw;
}
.nursery-content-container h2{
    font-size: 1.5vw;
    font-weight: bold;
    font-style: italic;
}
.key-area-development-container{
    background-image: url("images/keydevelopment.svg");
    background-size: cover;
    height: 30vw;
}
.key-area-flex-container{
    display: flex;
    justify-content: center;
}
.key-area-container1{
    width: 45%;
}
.key-area-container2{
    width: 45%;
}
.key-area-container2 li{
    color: white;
    font-size: 1.5vw;
}
.key-area-container1 li{
    color: white;
    font-size: 1.5vw;
}
.kindergarten-heading{
    color: rgba(235, 21, 81, 1);
    font-size: 2vw;
    text-align: center;
    font-family: Preahvihear;
}
.kindergarten-image-container{
    width: 45%;
    margin-left: 2vw;
    margin-bottom: 2vw;
}
.kindergarten-image-container img{
    width: 90%;
}
.kindergarten-content-container{
    width: 50%;
}
.kindergarten-content-image-container{
    display: flex;
}
.kindergarten-content-container h1{
    font-size: 2vw;
    margin-left: 25vw;
}
.kindergarten-content-container p{
    font-size: 1.3vw;
}
.kindergarten-content-container h2{
    font-size: 1.5vw;
    font-weight: bold;
    font-style: italic;
}
.kindergarten-content-container span{
    background-color: rgba(255, 194, 36, 1);
    font-weight: bold;
    border-bottom-left-radius: 5vw;
    padding: 1vw;
}
.kindergarten-background-container{
    background-image: url('images/kinderback.svg');
    background-size: cover;
    padding-top: 0.5vw;   
}
.kindergarten-para-head{
    background-color: white;
    padding: 1.5vw;
    margin-bottom: 2vw;
    border-radius: 2vw;
}
.key-area-heading{
    color: white;
    text-align: center;
    font-size: 2vw;
    padding-top: 2vw;
}

.play-group-program-content-container span{
    background-color: rgba(255, 194, 36, 1);
    font-weight: bold;
    border-bottom-left-radius: 5vw;
    padding: 1vw;
}
.nursery-content-container span{
    background-color: rgba(255, 194, 36, 1);
    font-weight: bold;
    border-bottom-left-radius: 5vw;
    padding: 1vw;
}
.dye-care-heading{
    text-align: center;
    font-size: 2vw;
    color:rgba(235, 21, 81, 1);
    font-family: Preahvihear;
}
.dye-care-content-container{
    width: 40%;
}
.dye-care-content-container p{
    font-size: 1.3vw;
    line-height: 2.8vw;
}
.dye-care-image-conatiner{
    width: 45%;
    height: 35vw;
}
.dye-care-image-conatiner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.dye-care-content-image-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dye-care-paragraph p{
    font-size: 1.3vw;
    margin: 2vw;
    line-height: 2.8vw;
}
.child-care-background-container{
    background-image: url("images/childcareback.svg");
    background-size: cover;
    height: 35vw;
}
.child-care-heading{
    font-size: 2vw;
    color: rgba(235, 21, 81, 1);
    font-family: Preahvihear;
    text-align: center;
    padding-top: 2vw;
}
.child-care-image-container{
    height: 22vw;
    width: 18%;
    background-color: #ffffff;
    border-radius: 1vw;
}
.child-care-flex-container{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    position: relative;
    overflow-x: scroll;
    flex-shrink: 0;
    margin-left: 3vw;
    margin-right: 3vw;
}
.child-care-flex-container::-webkit-scrollbar {
    display: none;
  }
.child-care-white-card-container{
    height: 22vw;
    width: 18%;
    position: absolute;
    background-color: white;
    transition: transform 0.3s ease-in-out;
    border-radius: 1vw;
    z-index: 10;
    top: 0;
}
.child-care-image-container:hover{
    .child-care-white-card-container{
        transform: translateX(-100%);
    }
}
.child-care-white-card-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1vw;
}
.child-care-card-heading{
    font-size: 1.2vw;
    position: absolute;
    bottom: 0%;
    color: white;
    text-align: center;
    background-color: #33333394;
    width: 100%;
}
.child-care-paragraph{
    font-size: 1.1vw;
    display: flex;
    text-align: center;
}
.programs-facilities-head{
    color: rgba(235, 21, 81, 1);
    font-family: Preahvihear;
    font-size: 2vw;
    text-align: center;
    margin: 2vw;
}
.facilities-heading{
    color: black;
    font-size: 3vw;
    text-align: center;
}
.flex-content-facilities-container{
    display: flex;
    justify-content: space-around;
}
.flex-content-facilities-container p{
    font-size: 1.3vw;
}
.flyeres-container{
    background-color: rgba(249, 246, 239, 1);
    height: 40vw;
}
.flyers-image-white-container{
    height: 20vw;
    width: 20%;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgb(146, 146, 146);
    border-radius: 3vw;
    position: relative;
}
.flyers-flex-container{
    display: flex;
    justify-content: space-around;
    padding-top: 17vw;
}
.flyers-image-container{
    width: 90%;
    position: absolute;
    top: -65%;
    left: 5%;
}
.flyers-image-container img{
    height: 100%;
    width: 100%;
}
.flyer-button button{
    background: linear-gradient(to right,rgba(135, 207, 58, 1),rgba(45, 204, 128, 1));
    border: none;
    color: white;
    font-size: 1.5vw;
    margin-top: 15vw;
}
.flyer-button{
    display: flex;
    justify-content: center;
}
.flyers-heading{
    color: rgba(235, 21, 81, 1);
    font-size: 2vw;
    text-align: center;
    font-family: Preahvihear;
    padding-top: 2vw;
}













  .footer-section-position{
    padding-top: 6vw;
    background:url("images/footerbackground.png");
    background-size: cover;
    position: relative;
}
.footer-section{
    position: relative;
    overflow-x: hidden;
    height: max-content;
}
.footer-copyright{
    color: white;
    text-align: center;
    font-size: 1.3vw;
}
.telegram-image{
    height: 5vw;
    position: absolute;
    top: 4%;
    left: 0;
}
.cloud1-image{
    height: 5vw;
    left: 20%;
    top: 17%;
    position: absolute;
}
.sun-image{
    height: 5vw;
    position: absolute;
    left: 60%;
    top: 10%;
    z-index: 8;
}
.rocket-image{
    height: 8vw;
    position: absolute;
    right: 0%;
    top: 30%;
}
.cloud2-image{
    height: 5vw;
    position: absolute;
    right: -5%;
}
.footer-logo-image{
    height: 100%;
    width: 100%;
    border-radius: 200%;
}
.footer-section2{
    margin-top: 13vw;
    display: flex;
    justify-content: space-around;
}
.footer-section2 h1{
    color: #b10505;
    font-size: 2vw;
}
.footer-logo{
    width: 6%;
    height: 6vw;
    border-radius: 100%;
    position: relative;
    z-index: 3;
}
.footer-logo p{
    font-size: 1.6vw;
    color: #ffffff;
}
.footer-pages{
    width: 23%;
    position: relative;
    z-index: 3;
}
.footer-pages p{
    font-size: 1.2vw;
    color: #ffffff;
    margin: 0;
}
.footer-pages li{
    list-style-type: none;
    color: white;
    font-size: 1.2vw;
    color: #ffffff;
    margin: 0;
    line-height: 2vw;
}
.footer-pages a{
    text-decoration: none;
}
.footer-pages-2{
    width: 23%;
    position: relative;
    z-index: 3;
}
.footer-pages-2 p{
    font-size: 1.2vw;
    color: #ffffff;
    margin: 0;
    line-height: 2.5vw;
}
.footer-contact-us{
    width: 23%;
    z-index: 3;
    position: relative;
}
.footer-contact-us p{
    font-size: 1.2vw;
    color: #ffffff;
    
}


.social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    margin-left: 2vw;
    justify-content: center;
}
.fa-facebook{
    font-size: 2.2vw;
    color: #1877f2;
    background-color: white;
    padding: 1vw;
    border-radius: 50%;
}
.fa-twitter{
    font-size: 2.2vw;
    color: #1da1f2;
}
.fa-instagram{
    font-size: 2.2vw;
    color: #e4405f;
    background-color: white;
    padding: 1vw;
    padding-left: 1.1vw;
    padding-right: 1.1vw;
    border-radius: 50%;
}
.twitter{
    height: 4vw;
    background-color: white;
    padding: 1vw;
    border-radius: 50%;
}
.social-icons li {
    margin-right: 1vw;
} 
.social-icons a {
    text-decoration: none;
    color: #333;
}
.facebook-icon {
    color: #1877f2;
}
.twitter-icon {
    color: #1da1f2;
}
.instagram-icon {
    color: #e4405f;
}


.footer-section-each{
    width: 30%;
}
.footer-hr-dotted{
    border:0.1vw dashed;
    color: #fff;
}
.footer-child-images{
    height: 10vw;
    margin-left: 2.5vw;
}
.footer-section3{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.pencil-image{
    height: 3vw;
}
.scale-image{
    height: 3vw;
    right: 0;
}
.flex-pencil-scale{
    display: flex;
    justify-content: space-between;
}


.footer-squre1{
    height: 15vw;
    background-color: #ffffff;
    width: 30vw;
    border-radius: 50%;
    position: absolute;
    top: -23%;
    left: -3%;
}
.footer-squre2 {
    height: 15vw;
    background-color: rgba(32, 123, 142, 1);
    width: 40vw;
    border-radius: 50%;
    position: absolute;
    left: 24.5%;
    top: -8.9%;
    z-index: 7;
}
.footer-squre3{
    height: 15vw;
    background-color: #ffffff;
    width: 30vw;
    border-radius: 50%;
    position: absolute;
    top: -25%;
    right: 7%;
}
.footer-squre4{
    height: 4vw;
    background-color: rgba(32, 123, 142, 1);
    width: 10vw;
    border-radius: 50%;
    position: absolute;
    top: -1%;
    right:0.8%;
}

.dropdown{
    display: none;
}
.programs:hover{
    .dropdown{
        display: block;
    }
}
/* Add this to your existing CSS styles */
.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
